body {
  padding: 20px;
  background: rgb(50, 93, 150);
}
div {
  padding: 20px;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
}
p {
  text-align: center;
  color: white;
}
img {
  width: 500px;
}